<header>
        <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
            <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
            <h3 class="text-uppercase text-center p-4"></h3>
        </div>
</header>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> Editar Inscripción </h3>
                </div>
                <div class="card-body">
                    <form action="/edit/{{inscripciones.id}}" method="post"  enctype="multipart/form-data">

                        <div class="input-group mt-2">
                            <label for="nombre" class="input-group-text"> Nombre </label>
                            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ejemplo: Pepita Pérez" value="{{inscripciones.nombre}}" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="email" class="input-group-text"> Email </label>
                            <input class="form-control" type="text" name="email" id="email" placeholder="Ejemplo: peperez@mail.com" value="{{inscripciones.email}}" required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="telefono" class="input-group-text"> Teléfono </label>
                            <input class="form-control" type="number" name="telefono" id="telefono" placeholder="Ejemplo:+573009112233" value="{{inscripciones.telefono}}" required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="tipo" class="input-group-text"> Tipo inscripción  </label>
                            <input class="form-control" type="text" name="tipo" id="tipo" value="{{inscripciones.tipo}}" placeholder="Ejemplo: escribir 1, 2 o 3" required >
                        </div>

<!-- 
                        <div class="input-group mt-2">
                            <input class="form-control" type="file" name="file" id="file">
                        </div>


                        {{#if inscripciones.imagen}}
                            <div class="input-group mt-2">
                                <img src="/uploads/{{inscripciones.imagen}}" class="card-img-top mx-auto m-2 rounded-lg" style="width: 150px; height: 150px;display:block;">
                            </div>
                        {{/if}}
-->
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Actualizar </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<footer>
    <div class="div-piepag">
        Juan Carlos Martínez Varela - Derechos Reservados 2024
    </div>
</footer>
-->

<footer class="footer text-center" style="display: flex; justify-content: center; align-items: center; padding-top: 5; padding-bottom: 5;
margin: 5px;  background-color: rgb(237, 203, 237); color: rgb(21, 21, 233); height: 50px;">
  <div class="container1">
    <p>Juan Carlos Martínez Varela - Derechos Reservados 2024</p>
  </div>
</footer>